<ion-header class="header mh">
  <ion-toolbar>
    
    <ion-buttons slot="start" (click)="openmenu('main')"> 
      <ion-button fill='clear' color="white">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--top bar buttons-->
    <ion-buttons slot="start">
      <ion-button fill='clear' color="white">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button fill='clear' color="white">
        <ion-icon slot="icon-only" name="mail-unread"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button fill='clear' color="white">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button fill='clear' color="white">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openmenu('sections')"> 
      <ion-button fill='clear' color="white">
        <ion-icon slot="icon-only" name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--/end top bar buttons-->
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="filters">
      <ion-buttons slot="end">
        <ion-button fill='clear' color="white">
          <ion-icon slot="icon-only" name="reorder"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill='clear' color="white">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill='clear' color="white">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill='clear' color="white">
          <ion-icon slot="icon-only" name="navigate"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <ul class="products">
      <!--one item-->
      <li class="item">
        <ion-grid>
          <ion-row>
            <ion-col size="9">
                <ion-row class="item-det">
                  <ion-col size="8">
                    <h2>شيشة إلكترونية</h2>
                  </ion-col>
                  <ion-col size="4">
                    <div id="price">
                      <ion-icon name="cash"></ion-icon>
                      <span>190</span>
                      <b>ريال</b>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="item-mdet">
                  <ion-col size="8">
                    <p>
                      <ion-icon name="bookmark"></ion-icon>
                      قبل دقيقتين
                    </p>
                    <p>
                      <ion-icon name="person"></ion-icon>
                      محمد حسن عبدالله
                    </p>
                  </ion-col>
                  <ion-col size="4">
                      <p>
                        <ion-icon name="pin"></ion-icon>
                        الرياض
                      </p>
                  </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="3">
              <img src="https://assets3.thrillist.com/v1/image/2748346/size/gn-gift_guide_variable_c.jpg">
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
      <!--/one item-->
      
      <!--one item-->
      <li class="item">
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                  <ion-row class="item-det">
                    <ion-col size="8">
                      <h2>شيشة إلكترونية</h2>
                    </ion-col>
                    <ion-col size="4">
                      <div id="price">
                        <ion-icon name="cash"></ion-icon>
                        <span>190</span>
                        <b>ريال</b>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row class="item-mdet">
                    <ion-col size="8">
                      <p>
                        <ion-icon name="bookmark"></ion-icon>
                        قبل دقيقتين
                      </p>
                      <p>
                        <ion-icon name="person"></ion-icon>
                        محمد حسن عبدالله
                      </p>
                    </ion-col>
                    <ion-col size="4">
                        <p>
                          <ion-icon name="pin"></ion-icon>
                          الرياض
                        </p>
                    </ion-col>
                  </ion-row>
              </ion-col>
              <ion-col size="3">
                <img src="https://prods3.imgix.net/images/articles/2017_01/Non-featured-trader-joes-vegan-products-roundup.jpg?auto=format%2Ccompress&ixjsv=2.2.3&w=670">
              </ion-col>
            </ion-row>
          </ion-grid>
      </li>
      <!--/one item-->

      <!--one item-->
      <li class="item">
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                  <ion-row class="item-det">
                    <ion-col size="8">
                      <h2>شيشة إلكترونية</h2>
                    </ion-col>
                    <ion-col size="4">
                      <div id="price">
                        <ion-icon name="cash"></ion-icon>
                        <span>190</span>
                        <b>ريال</b>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row class="item-mdet">
                    <ion-col size="8">
                      <p>
                        <ion-icon name="bookmark"></ion-icon>
                        قبل دقيقتين
                      </p>
                      <p>
                        <ion-icon name="person"></ion-icon>
                        محمد حسن عبدالله
                      </p>
                    </ion-col>
                    <ion-col size="4">
                        <p>
                          <ion-icon name="pin"></ion-icon>
                          الرياض
                        </p>
                    </ion-col>
                  </ion-row>
              </ion-col>
              <ion-col size="3">
                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2Famazon-best-selling-travel.jpg%3Fitok%3DrtSsP-Uj&q=85">
              </ion-col>
            </ion-row>
          </ion-grid>
      </li>
      <!--/one item-->

      <!--one item-->
      <li class="item">
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                  <ion-row class="item-det">
                    <ion-col size="8">
                      <h2>شيشة إلكترونية</h2>
                    </ion-col>
                    <ion-col size="4">
                      <div id="price">
                        <ion-icon name="cash"></ion-icon>
                        <span>190</span>
                        <b>ريال</b>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row class="item-mdet">
                    <ion-col size="8">
                      <p>
                        <ion-icon name="bookmark"></ion-icon>
                        قبل دقيقتين
                      </p>
                      <p>
                        <ion-icon name="person"></ion-icon>
                        محمد حسن عبدالله
                      </p>
                    </ion-col>
                    <ion-col size="4">
                        <p>
                          <ion-icon name="pin"></ion-icon>
                          الرياض
                        </p>
                    </ion-col>
                  </ion-row>
              </ion-col>
              <ion-col size="3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1Li_zXGfGwoi-48F_0fXEVPSO12NeyX1Viqo12pHqXJEEimbyiQ">
              </ion-col>
            </ion-row>
          </ion-grid>
      </li>
      <!--/one item-->
    </ul>
</ion-content>
