// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@font-face {
  font-family: 'Rawy';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Rawy-Regular.otf');
}

@font-face {
  font-family: 'Rawy';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Rawy-Bold.otf');
}

@font-face {
  font-family: 'Rawy';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/Rawy-Regular.otf');
}

:root {
  /** primary **/
  --ion-color-primary: #073245;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #24556a;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #133b4d;
  --ion-color-primary-tint: #24556a;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #555;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #444;
  --ion-color-success-tint: #666;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /**font**/
  --ion-font-family: 'Rawy', sans-serif !important;

  .header{
    direction:rtl;
    --ion-background-color:linear-gradient(to right,#072e3f ,#135176);
    --ion-text-color:#b2c0c9;
  }
  .side-bar
  {
    direction: rtl;
    --ion-background-color:linear-gradient(to right,#072e3f ,#135176);
    --ion-text-color:#b2c0c9;
    img{
      width:30px;
      margin: 0px 5px;
    }
    ion-item{
      --font-size: 19px;
      --font-weight: bold;
      text-align: center;
    }
  }
  .sections-bar
  {
    --ion-background-color:linear-gradient(to right,#072e3f ,#135176);
    ion-col{
      padding:20px;
    }
    img{
      height: 90px;
      width: 100%;
      object-fit: cover;
    }
  }
  //tabs and products 
  .welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  .top-bar
  {
    background:#145074;
  }
  
  .products
  {
    direction:rtl;
    margin:30% 0px;
  }
  ul.products {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul.products > li:nth-of-type(odd) {
    background-color: #ccc ;
    margin-bottom:5px;
    margin-top:5px;
  }
  
  ul.products > li {
    background:#e6e6e6;
  }
  
  .filters
  {
    margin-top:10%;
    border-bottom:1.5px solid #697d89;
    padding:5px;
    display: inline-block;
    width:100%;
    margin-bottom:25px;
    color:#697d89;
    ion-buttons{
      display: inline;
    }
  }
  
  .item
  {
    ion-col,ion-row,ion-grid{
      padding:0px;
      padding-bottom:0px;
    }
    img{
      object-fit: cover;
      width:100%;
      height:100%;
      min-height:100px;
    }
  }
  
  .item-det
  {
    margin:4px;
    color:#221f65;
    h3{
      padding:0px;
      margin:0px;
      font-size: 18px;
    }
    #price{
      background:#FFC909;
      padding:3px 5px;
      border-radius:50px;
      width:100%;
      font-size: 19px;
      b{
        float:left;
        padding-left:5px;
      }
      span{
        font-weight:bold;
        font-size: 21px;
        padding-right:10px;
      }
      ion-icon{
        font-weight: bold;
        padding:8px 5px 0px 0px;
        float:right;
      }
    }
  }
  
  .item-mdet
  {
    color:#52646e;
  }

  .alert
  {
    direction:rtl;
  }
  .report{
    direction:rtl;
  }

  .logs
  {
    color:#FFC909;
  }
  .empty
  {
    margin-top:60%;
    text-align:center;
    color:#999;
  }
}

#pass
{
  font-family: Arial, Helvetica, sans-serif;
}