<ion-header>
  <ion-toolbar class="login-header">
      <ion-buttons slot="end" (click)="dismissLogin()"> 
        <ion-button fill='clear' color="white">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>تسجيل الدخول</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
    <div text-center class="login-tc">
      <img src="../../../../assets/img/logo.png"/>
      <h1>تسجيل الدخول</h1> 
    </div>
    <div class="form-group">
      <ion-item>
        <ion-input type="text" id="pass" [(ngModel)]="umail" clearInput placeholder="البريد الإلكتروني"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" id="pass" [(ngModel)]="upass" clearInput placeholder="كلمة المرور"></ion-input>
      </ion-item>
      <div text-center class="loginbtn">
          <ion-button shape="round" (click)="login()">تسجيل الدخول</ion-button>
      </div>
    </div>
    <div text-center>
      <span>
        لا تمتلك حساب ؟ <a (click)="gosignup()">سجل الآن</a>
      </span>
    </div>
</ion-content>
